<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">  <!--Use debug="true" for logback configuration troubleshooting-->

    <contextName>datastructures-log</contextName>

    <!-- This is console appender definition -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss zzz}) || \(%thread\) %red(%-5level) %cyan(%logger{36})/%magenta(%method) %msg\n</pattern>
        </encoder>
    </appender>

    <logger name="com.example" level="DEBUG"/>

    <logger name="java.sql" level="DEBUG"/>
    <logger name="java.sql.ResultSet" level="INFO"/>

    <logger name="org.mybatis.sqlmap" level="INFO"/>
    <logger name="org.apache.ibatis" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.security" level="WARN"/>

    <logger name="org.springframework.security.web.access" level="INFO"/>



    <logger name="com.fasterxml.jackson" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>

</configuration>
